#root {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card {
  padding: 2em;
}

.dashboard-heading {
  margin:0;
  padding: 16px 0;
  color: #fff;
  background-color: #2a80bf;
  width: 100vw;
}
